body {
    background-color: bisque;
}

h1 {
    background-color: aquamarine;
}

p.tekst1 {
    background-color: rgb(21, 49, 49);
}

h2.podtytul {
    background-color: rgb(150, 99, 24);
}

p.tekst {
    background-color: blue;
}


p.tekst2 {
    background-color: rgb(113, 54, 168);
}

li.item1 {
    background-color: rgba(165, 42, 42, 0.683);
}

li.item2 {
    background-color: rgba(77, 198, 53, 0.735);
}

li.item3 {
    background-color: rgb(255, 196, 230);
}

li.item4 {
    background-color: rgb(77, 109, 103);
}

li.item5 {
    background-color: rgb(120, 14, 102);
}